<header class="site-header">
    <a class="site-title" href="/">Offline Demo</a>
    <nav class="site-nav nav-separated">
        <div data-controller="network-status">
            <div id="connection-status">
                Status: <span data-network-status-target="status">Checking...</span>
            </div>
            <div>
                Connection Quality: <span data-network-status-target="quality">Testing...</span>
                <button data-action="click->network-status#testButtonClick" data-network-status-target="testButton">Test Connection Quality</button>
            </div>
        </div>
    </nav>
</header>

