<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<h1>Offline Posts</h1>
<div id="posts-container">
  <!-- Posts will be loaded here dynamically -->
</div>

<%= link_to "New post", new_post_path %>
