<p style="color: green"><%= notice %></p>

<%= link_to "New post", new_post_path, class: "btn btn-primary" %>

<h1>Posts Saved On Server</h1>

<div id="posts">
  <table>
    <% @posts.each do |post| %>
      <%= render "post_row", post: post %>
    <% end %>
  </table>
</div>

<h1>Posts Saved Locally</h1>
<table>
<tbody id="posts-container">
  <!-- Posts will be loaded here dynamically -->
</tbody>
