<h2>Online and Offline Functionality Overview</h2>
<p>This site, built on a standard Rails 7 framework using the default asset pipeline with Importmaps, is designed to handle saving data in both online and offline scenarios.</p>
<p>Test here: <%= link_to "Posts", posts_path %></p>
<ul>
    <li><strong>Technology Stack:</strong>
        <ul>
            <li><strong>Framework:</strong> Rails 7 with asset pipeline and Importmaps for managing JavaScript modules.</li>
            <li><strong>Database:</strong> PostgreSQL</li>
            <li><strong>Local Storage:</strong> <a href="https://dexie.org/">Dexie.js</a> library utilized to interact with IndexedDB.</li>
        </ul>
    </li>
    <li><span class="tag tag-warning">In Progress</span> <strong>Offline Data Handling:</strong> Data such as new posts submitted through forms is saved locally on your device using IndexedDB through Dexie.js. This approach ensures that no data is lost even when connectivity is intermittent or unavailable.</li>
    <li><span class="tag tag-warning">In Progress</span> <strong>Online Synchronization:</strong> Once the network connection is restored, the data stored locally is automatically synchronized with our server. This ensures that any posts created while offline are uploaded, maintaining consistency across all devices and sessions.</li>
    <li><span class="tag tag-success">Done</span> <strong>Visual Network Status Indicator:</strong> A visual indicator displays the current network status (online or offline), providing clear feedback on whether your actions are being processed locally or synchronized with the server.</li>
    <li><span class="tag tag-success">Done</span> <strong>Complex Records:</strong> Increase the complexity of locally saved records. Accomodate associations and nested records.</li>
    <li><span class="tag tag-warning">In Progress</span> <strong>Progressive Web App:</strong> Turn app into a PWA with the ability to 'install' on devices and utilize certain functions without internet connection.</li>
</ul>